*{
    padding: 0;
    margin: 0;
    outline: 0;
    /* border: 0; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#background{
    background-image: url('https://static.vecteezy.com/system/resources/previews/003/386/400/original/ice-hockey-arena-background-concept-free-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 

header{
    height: 20vh;
    background-color: #00030a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #97acf1;
    margin-bottom: 50px;
    opacity: .8;

}
main{
    display: flex;
    justify-content: center;
}
#input{
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    
}
#addedplayer{
    width: 100px;
    margin: 7px;
}
input{
    margin: 7px;
    
}

#position{
    margin: 7px;
}
#players-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    margin: 7px;
}
.player-img{
    width: 250px; 
    height: 250px;
}
.players{
    margin: 30px;
}
.player-position h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.player-position{
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}

button{
    background-color: #3361f5;
    border: 1px solid #3361f5;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 2px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);

}